[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"


[project]
name = "tagpatch"
version = "0.1.2"
authors = [{ name = "Anchit Bajaj", email = "python.pypi@abifog.com" }]
description = "CLI tool which applies common patches to music tags"
readme = "README.md"
requires-python = ">=3.9"
license = { text = "MIT" }
keywords = ["music", "tag"]
dependencies = [
    "music-tag==0.4.3",
    "click==8.1.4",
    "tabulate==0.9.0",
    "mutagen==1.46.0",
]
